footer {
  margin-top: auto;

  display: flex;
  flex-direction: row;

  align-items: stretch;
  padding: 1rem;
  border-top: 1px solid var(--primary-color);
  border-bottom-left-radius: 6px;
}
.toggle-button,
.github {
  margin: 1rem;
}
