:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0d2b30;
  background-color: #c5ece9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #1a535c;
  --hover-color: #2980b9;
  --background-light: #f7fff7;
  --text-color: #2c3e50;
  --card-background: #fffceb;
  --border-hover: #646cff;
}
body {
  margin: 0;
}
#root {
  max-width: 960px;
  min-width: 360px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: var(--background-light);
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  [data-theme="light"] {
    :root,
    .App,
    a {
      color: #213547;
      background-color: #f7fff7;
    }
  }
  [data-theme="dark"] {
    :root,
    .App {
      color: #eceff1;
      background-color: #1a2027;
    }
    img {
      filter: invert(1);
      filter: invert(1) blur(0.1px);
    }

    a {
      color: var(--hover-color);
    }
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="light"] {
    :root,
    .App,
    a {
      color: #213547;
      background-color: #f7fff7;
    }
  }
  [data-theme="dark"] {
    :root,
    .App {
      color: #eceff1;
      background-color: #1a2027;
    }
    img {
      filter: invert(1);
      filter: invert(1) blur(0.1px);
    }
    a {
      color: var(--hover-color);
    }
  }
}
