#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F7FFF7;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 90%;
  text-align: center;
}

h1 {
  color: #2c3e50;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.emir-card {
  background-color:  #FFFCEB;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.emir-text {
  font-size: 1.5rem;
  color: #34495e;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.sure-text {
  font-size: 1.1rem;
  color: #7f8c8d;
  font-style: italic;
}

.random-button {
  background-color: #1A535C;
  color: #EFFBFA;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 5px;
  cursor: pointer;
}

.random-button:hover {
  background-color: #2980b9;
}
